a {
text-decoration : none;
color: inherit;
}

body {
height : 100%;
width : 100%;
background-color:#202020;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#svgContainer {
position:fixed;
top:0px; 
left:0px;
width : 100%;
height : 100%;
z-index : 10;
}

#backDiv{
position : fixed;
z-index : 0;
bottom : 0px;
right : 20px;
font-family:Courier New;
font-size:5em;
font-weight:bold;
color:#333333;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.exit {
  fill: brown;
}

#overlay{
position : fixed;
z-index : 20;
top : 0px;
left : 0px;
font-size : 3em;
color : #555555;
}

div.newsFeed{
	width : 380px;
	position : relative;
	box-shadow: 5px 5px 10px #888888;
	border : 1px solid rgba(0,0,0,0.2);
	max-height : 350px;
}


div.newsContent{
	z-index : 10;
	position : relative;
}

div.newsFeedHeader{
	padding-left : 10px;
	padding-right : 5px;
	padding-top : 5px;
}

div.newsFeedHeaderFocus{
	font-size : 1em;
	font-weight:bold;
}

div.newsFeedHeaderNonFocus{
	font-size : 0.7em;
	padding-left : 5px;
	padding-right : 5px;
}

div.newsFeedBody{
	padding-left : 10px;
	padding-right : 10px;
	position : relative;
}

div.newsContentHeader{
	position:relative;
	padding : 0;
	margin : 0;
}

div.newsContentName{
	position:absolute;
	top:0px;
	z-index : 20;
	width : 100%;
	background-color : rgba(0,0,0,0.6);
	text-align : center;
	color : #ffffff;
	height : 25px;
	vertical-align : middle;
	font-size : 0.8em;
}
div.newsContentImage{
	padding : 0;
	margin : 0;
	position:relative;
	top:0px;
	left : -20px;
	z-index : 15;
	max-height : 150px;
	overflow : hidden;
	width : 400px;
	background-color : #000;
}

div.newsContentImage img{
	max-width : 400px;
	min-height : 100px;
	margin-left : auto;
	margin-right : auto;
	display : block;
	border : 1px solid rgba(0,0,0,0.4);
}

div.newsContentCaption{
	position:absolute;
	background-color:rgba(0,0,0,0.6);
	bottom : 0px;
	z-index : 20;
	width : 100%;
	font-size : 0.7em;
	color : #ffffff;
	text-align : center;
}
div.newsContentDescription{
	position : relative;
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 5px;
	padding-bottom : 5px;
	font-size : 0.8em;
}

div.newsContentTime{
	position : relative;
	text-align : right;
	width : 100%;
	padding-top : 5px;
	font-size : 0.6em;
}

div.newsContentActionBar{
	position : relative;
	text-align : left;
	vertical-align : middle;
	font-size : 0.8em;
	font-weight : bold;
	color : #00a2ff;
}

div.newsFeedMessage{
	position : relative;
	font-size : 0.8em;
	margin : 5px;
}

div.newsContentComments{
	position : relative;
	margin : 4px;
	box-shadow : 3px 3px 10px;
	border : 1px solid rgba(0,94,148,0.3);
	overflow : scroll;
}

div.newsComment{
	position : relative;
	border : 1px solid rgba(0,94,148,0.3);
	background-color : #D8EBFF;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
	font-size : 0.8em;
}	

div.newsCommentTime{
	text-align : right;
	font-size : 0.7em;
}
